<beans xmlns="http://www.springframework.org/schema/beans"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:mvc="http://www.springframework.org/schema/mvc"
	 xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	 http://www.springframework.org/schema/mvc
	 http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context-3.0.xsd">

 
 	<bean	id="HandlerMapping"  class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
 
	
	<bean id="helloController" name="/" class="com.explore.controller.HelloController" />
	<bean name="/about.html" class="com.explore.controller.AboutController"/>
	<bean name="/signin.html" class="com.explore.controller.SignInController"/>
	<bean name="/admin.html" class="com.explore.controller.AdminController"/>
	<bean name="/newgame.html" class="com.explore.controller.NewGameController"/>
	<bean name="/viewgame.html" class="com.explore.controller.ViewGameController"/>
	<bean name="/signout.html" class="com.explore.controller.SignOutController"/>
	<bean name="/profile.html" class="com.explore.controller.ProfileController"/>
  
    <bean name="/help.html" class="com.explore.controller.HelpModuleController"/>

 
	 <bean id="viewResolver"
	    	class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
	        <property name="prefix">
	            <value>/WEB-INF/views/jsp/</value>
	        </property>
	        <property name="suffix">
	            <value>.jsp</value>
	        </property>
	 </bean>
 
	<mvc:annotation-driven />
	<mvc:resources mapping="/resources/**" location="/resources/" />
    <mvc:default-servlet-handler/>
    
</beans>